$theme-color: #c3d825;
$purple: #74325c;
$name: #db5461;
$sub: #686963;
$black: #353535;
$background: #f6f6f6;

$sub_transparent: #686963cc;

$hamburger_text: #FAFAFA;
$hamburger_background: #353535;

$break-point: 980px;
